.edit-password-container {
    color: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: linear-gradient(to bottom, #4e4e4e, #0d0d0d);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .edit-password-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .edit-password-container form {
    display: flex;
    flex-direction: column;
  }
  
  .edit-password-container input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .edit-password-container button {
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-password-container button:hover {
    background-color: #0056b3;
  }
  
  .edit-password-container p {
    color: red;
    margin-top: 10px;
    text-align: center;
  }
  